/*  your css code here. If applicable */
.eg2{
	background-color: #f5f5f5;
	padding: 50px
}
#p1{
	padding: 0px;
	
	background-color: white;
}
#name{
	text-align: right;
	font-style: italic;
}
#name1{
	text-align: right;
	font-style: italic;
}
#p2{
	padding: 0px;
	background-color: white;
	
}